/* HERO SECTIONS (shared by About & Contact) */
.hero {
  height: 105vh;
  overflow: hidden;
  position: relative;
}
.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.15),
      rgba(0,0,0,0.55)
  );
  z-index: 1;
}

.hero-text {
  position: absolute;
  z-index: 2;   /* above overlay */
}

.hero-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.hero-text {
  position: absolute;
  bottom: 80px;
  left: 60px;
  color: #000000;
}
.hero-title,
.hero-subtitle {
  text-shadow: 
      0 0 6px rgba(255, 200, 0, 0.6),   /* soft gold glow */
      0 0 14px rgba(255, 200, 2, 0.4);  /* outer glow */
}

.hero-subtitle {
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 5px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #be9500; /* soft gold */
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}


/* About page content section */
.about-wrapper {
  background-color: #f8f8f8;
  padding: 70px 0;
}

.about-wrapper h2 {
  color: #6d2c2c; /* maroon */
  font-weight: 700;
  letter-spacing: 1px;
}

/* Contact Page Layout */
.contact-wrapper {
  background-color: #f8f8f8;
  padding: 70px 0;
}

/* Contact cards */
.contact-card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px 18px rgba(0,0,0,0.12);
}

.contact-card h2 {
  color: #6d2c2c;
  font-weight: 700;
}

/* Success message */
#successMsg {
  display: none;
}


/* Mobile improvements */
@media(max-width: 768px) {
  .section-hero-text {
    left: 30px;
    bottom: 50px;
  }
  .section-hero-text .title {
    font-size: 2.3rem;
  }
}
